# Northwind Traders Database - SQL Window Functions Practice

## Set Up Notebook

In [1]:
from dotenv import load_dotenv
import os

load_dotenv()

database_url = os.getenv('DB_PASSWORD')

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:$DB_PASSWORD@localhost:5432/northwind

In [4]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## Drop `photo` (un-viewable within output)

In [ ]:
%sql ALTER TABLE employees DROP COLUMN photo

## Table List

In [6]:
%%sql
SELECT
    table_name AS name,
    table_type AS type
FROM information_schema.tables
WHERE
    table_schema = 'public'
    AND table_type IN ('BASE TABLE', 'VIEW');

 * postgresql://postgres:***@localhost:5432/northwind
17 rows affected.

[('territories', 'BASE TABLE'),
 ('orders_employees', 'VIEW'),
 ('order_details', 'BASE TABLE'),
 ('employee_territories', 'BASE TABLE'),
 ('us_states', 'BASE TABLE'),
 ('customers', 'BASE TABLE'),
 ('orders', 'BASE TABLE'),
 ('employees', 'BASE TABLE'),
 ('shippers', 'BASE TABLE'),
 ('products', 'BASE TABLE'),
 ('categories', 'BASE TABLE'),
 ('suppliers', 'BASE TABLE'),
 ('region', 'BASE TABLE'),
 ('customer_demographics', 'BASE TABLE'),
 ('customer_customer_demo', 'BASE TABLE'),
 ('orders_customers', 'VIEW'),
 ('orders_products', 'VIEW')]

## Column List

In [ ]:
%%sql
SELECT
    table_name AS TABLE,
    column_name AS COLUMN,
    ordinal_position AS pos
FROM information_schema.columns
WHERE
    table_schema = 'public'
    AND table_name = 'territories';
-- Change table name here

## Create Views

### orders_customers

In [ ]:
%%sql
CREATE VIEW orders_customers AS
SELECT c.company_name, c.contact_name, c.contact_title, c.address, c.city, c.region, c.postal_code, c.country, c.phone, c.fax, o.*
FROM orders o
    JOIN customers c ON o.customer_id = c.customer_id;

### orders_products

In [ ]:
%%sql
CREATE VIEW orders_products AS
SELECT
    p.product_id,
    p.product_name,
    p.supplier_id,
    p.category_id,
    p.quantity_per_unit,
    p.units_in_stock,
    p.units_on_order,
    p.reorder_level,
    p.discontinued,
    od.order_id,
    od.unit_price,
    od.quantity,
    od.discount,
    o.customer_id,
    o.employee_id,
    o.order_date,
    o.required_date,
    o.shipped_date,
    o.ship_via,
    o.freight,
    o.ship_name,
    o.ship_address,
    o.ship_city,
    o.ship_region,
    o.ship_postal_code,
    o.ship_country
FROM
    products p
    JOIN order_details od ON p.product_id = od.product_id
    JOIN orders o ON od.order_id = o.order_id;

### orders_employees

In [ ]:
%%sql
CREATE VIEW orders_employees AS
SELECT
    e.employee_id,
    e.last_name,
    e.first_name,
    e.title,
    e.title_of_courtesy,
    e.birth_date,
    e.hire_date,
    e.address,
    e.city,
    e.region,
    e.postal_code,
    e.country,
    e.home_phone,
    e.extension,
    -- e.notes,
    e.reports_to,
    o.order_id,
    o.customer_id,
    o.order_date,
    o.required_date,
    o.shipped_date,
    o.ship_via,
    o.freight,
    o.ship_name,
    o.ship_address,
    o.ship_city,
    o.ship_region,
    o.ship_postal_code,
    o.ship_country
FROM employees e
    JOIN orders o ON e.employee_id = o.employee_id;

## Rank Employee Performance

In [19]:
%%sql
WITH
    employee_sales AS (
        SELECT
            e.employee_id,
            e.first_name,
            e.last_name,
            ROUND(
                SUM(
                    quantity * unit_price * (1 - discount)
                )::numeric,
                2
            ) AS total_sales
        FROM
            orders_employees e
            JOIN order_details d ON e.order_id = d.order_id
        GROUP BY
            e.employee_id,
            e.first_name,
            e.last_name
    )
SELECT *, RANK() OVER (
        ORDER BY total_sales DESC
    ) AS sales_rank
FROM employee_sales;

 * postgresql://postgres:***@localhost:5432/northwind
9 rows affected.

[(4, 'Margaret', 'Peacock', Decimal('232890.85'), 1),
 (3, 'Janet', 'Leverling', Decimal('202812.84'), 2),
 (1, 'Nancy', 'Davolio', Decimal('192107.60'), 3),
 (2, 'Andrew', 'Fuller', Decimal('166537.76'), 4),
 (8, 'Laura', 'Callahan', Decimal('126862.28'), 5),
 (7, 'Robert', 'King', Decimal('124568.23'), 6),
 (9, 'Anne', 'Dodsworth', Decimal('77308.07'), 7),
 (6, 'Michael', 'Suyama', Decimal('73913.13'), 8),
 (5, 'Steven', 'Buchanan', Decimal('68792.28'), 9)]

### Findings:
- Margaret Peacock is the highest-ranking in total sales
- Steven Buchanan is the lowest-ranking in total sales